.score {
  font-size: 7.4rem;
  position: relative;
  top: 115px;
  left: 121px;
  font-weight: bold;
  color: white;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}