html, body, #root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Comic Sans';
  src: url('./fonts/ComicSans.eot');
  src: url('./fonts/ComicSans.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ComicSans.woff2') format('woff2'),
       url('./fonts/ComicSans.woff') format('woff'),
       url('./fonts/ComicSans.ttf')  format('truetype'),
       url('./fonts/ComicSans.svg#svgComicSans') format('svg');
}